<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="application/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
    <script type="application/javascript" src="/javascripts/jquery-ui.min.js"></script>
    <script type="application/javascript" src="/javascripts/common.js"></script>
    <script type="application/javascript" src="/javascripts/company.js"></script>
    <link rel='stylesheet' href='/stylesheets/jquery-ui.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/company.css' />
    <link rel='stylesheet' href='/stylesheets/animation.css' />
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="wrapper">
<div class="body-top"></div>
<div class="nav-bar">
    <div class="title">
        <a href="/" target="_self"> RE:SOURCES</a>
    </div>
    <ul class="nav">
        <li><a href="/">
                Home

            </a></li>
        <li class="company nav-item">
            <a href="/company" target="_self">
                About Us
                <i class="arrow-down"></i>
            </a> </li>
        <li class="services nav-item">
            <a href="/services" target="_self">
                Services
                <i class="arrow-down"></i>
            </a></li>
        <li><a href="/contact" target="_self">
                Contact US
            </a></li>
    </ul>
    <div class="btn top">
        <div class="arrow-top"></div>
    </div>
</div>
<div class="main">
    <div class="photo-container">
        <p class="photo-label one"></p>
        <p class="photo-label two"></p>
        <div id="scrollDown"></div>
        <div class="photo-slide company">
            <div>

            </div>
        </div>

    </div>
    <div class="bold-line"></div>
    <div class="company-page-main">
        <div class="wrapper">

            <div class="resources page">

                <span class="title">Re:Sources Korea</span>
                <div class="article-paper">
                    <p>Re:Sources Korea was created to achieve this objective by centralising the finance, administrative, legal, tax, IT, procurement and property functions and leave the units to do what they do best in terms of looking after the client's business.</p>
                    <br>
                    <p>We have a number of stated objectives to:</p>
                    <ul>
                        <li>Reduce the operating costs for the companies supported by us</li>
                        <li>Provide high quality financial and administrative support services to Publicis Groupe</li>
                        <li>Provide a single organisation with a demonstrated understanding of the Group business</li>
                        <li>Be staffed with people having the requisite skills and business acumen to deliver proven results</li>
                        <li>Provide a consistent and service-oriented culture led by an experienced management team</li>
                        <li>Be uniquely branded to attract and retain high quality people</li>
                        <li>Be cost effective (high quality/low cost) services providing significant leverage for future growth</li>
                    </ul>


                </div>
            </div>

            <div class="publicis page">

                <span class="title">Publicis Groupe</span>
                <img src="" />
                <div class="article-paper">
                    <p>
                        Publicis Groupe [Euronext Paris FR0000130577, CAC 40] is one of the world’s leading communications groups. The Groupe offers
                        a full range of services and skills: digital (DigitasLBi, Razorfish, Rosetta, VivaKi, Nurun), advertising (BBH, Leo Burnett, Publicis
                        Worldwide, Saatchi & Saatchi), public affairs, corporate communications and events (MSLGROUP), media strategy, planning and
                        buying (Starcom MediaVest Group and ZenithOptimedia), healthcare communications, with Publicis Healthcare Communications
                        Group (PHCG), and finally, brand asset production with Prodigious. Present in 108 countries, the Groupe employs more than
                        63,000 professionals.
                    </p>
                </div>
            </div>

            <div class="ceo page">

                <span class="title">CEO’s greeting </span>
                <div class="article-paper">

                    <p class="welcome">Welcome to Re:Sources Korea's website.</p>
                    <br>

                    <img src="images/ceo_photo.jpg"/>

                    <p>
                        Re:Sources Korea was launched in 2010 as an initiative of Publicis Groupe our Head Office based in Paris, France. Publicis Groupe is the 3rd largest communications group in the world with over 65,000 employees globally.
                    </p>
                    <br>
                    <p>
                    Publicis Groupe agencies in Korea consist of Leo Burnett, Welcomm Publicis, Starcom, Publicis Modem and Zenithoptimedia.
                    </p>
                    <br>
                    <p>
                    Since our founding we have worked with all Publicis Groupe subsidiaries in Korea and centralized Finance, Accounting, Tax, HR, Procurement, Real estate, Legal and IT to create a Shared Services Center called Re:Sources that reports into Publicis Groupe.
                    </p>
                    <br>
                    <p>
                    Our mission is to enable Groupe strategy and value creation by partnering with our agencies.
                    </p>
                    <br>
                    <p>
                    Our aim is to foster growth and profitability by providing world class services, governance and innovation to Publicis Groupe agencies so that they can be the preferred communications partner for our clients.
                    </p>
                    <br>
                    <div class="signature">
                        Warm regards
                        <br>
                        <span id="ceo_name">Daniel Shim</span>
                        <br>
                        CEO
                        <br>
                        RE:SOURCES (Indonesia, Japan, Korea, Philippines, Vietnam)
                    </div>
                    <br>

                </div>
            </div>

            <div class="agency page">

                <span class="title">Agencies</span>
               <ul>
                   <li>
                       LeoBurnett
                   </li>
                   <li>
                       Zenithoptimedia
                   </li>
                   <li>
                       Welcomm Publicis
                   </li>
                   <li>
                       Starcom
                   </li>
                   <li>
                       Publicis Modem
                   </li>
               </ul>
            </div>

        </div>

    </div>






</div>
<div class="footer">
    <div class="contact-bar">
        <div class="down-arrow"></div>
        <p>To inquire about our services, please contact us.</p>
        <a href="/contact" class="btn contact"> CONTACT</a>
    </div>
    <div class="info-bar">
        <div class="company-name"> RE:SOURCES KOREA </div>
        <div class="icon-wrapper">
            <a href="https://www.facebook.com/publicisgroupe">
                <img src="/images/main_bottom_facebook_dunkel.png"/>
            </a>
            <div class="pipe"></div>
            <a href="https://twitter.com/publicisgroupe">
                <img src="/images/main_bottom_twitter_dunkel.png"/>
            </a>
            <div class="pipe"></div>
            <!--
            <a><p>TERM</p></a>
            <div class="pipe"></div>
            -->
            <a href="http://www.publicisgroupe.com/"><p>Publicis Groupe</p></a>
        </div>
        <div class="btn top">
            <div class="arrow-top"></div>
        </div>

    </div>
</div>

<div class="nav-menu company">
    <ul>
        <li>
            <a href="/company?pageid=resources" target="_self">Re:Sources</a>
        </li>
        <li>
            <a href="/company?pageid=groupe" target="_self">Publicis Groupe</a>
        </li>
        <li>
            <a href="/company?pageid=ceo" target="_self">CEO Greeting</a>
        </li>
        <li>
            <a href="/company?pageid=agency" target="_self">Agencies</a>
        </li>
    </ul>
</div>
<div class="nav-menu services">
    <ul>
        <li>
            <a href="/services?pageid=finance" target="_self">Finance</a>
        </li>
        <li>
            <a href="/services?pageid=accounting" target="_self">Accounting</a>
        </li>
        <li>
            <a href="/services?pageid=procurement" target="_self">Procurement</a>
        </li>
        <li>
            <a href="/services?pageid=tax" target="_self">Tax</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="/services?pageid=hr" target="_self">HR & Payroll</a>
        </li>
        <li>
            <a href="/services?pageid=legal" target="_self">Legal</a>
        </li>
        <li>
            <a href="/services?pageid=it" target="_self">IT Support</a>
        </li>
        <li></li>
    </ul>
</div>



<div class="menu-mask"></div>

</div>
</body>
</html>
