<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="body-top"></div>
<div class="nav-bar">
    <div class="title">
        RE:SOURCES
    </div>
    <ul class="nav">
        <li><a href="/">
                Home

            </a></li>
        <li><a href="/company" target="_self">
                About Us
                <i class="arrow-down"></i>
            </a> </li>
        <li><a href="/services" target="_self">
                Services
                <i class="arrow-down"></i>
            </a></li>
        <li><a href="/contact" target="_self">
                Contact US
            </a></li>
    </ul>
</div>
<div class="main">
    <div class="photo-container">
        photo
    </div>
    <div class="carousel-container">
        carousel
    </div>
    <div class="panel-container">
        panel
    </div>
</div>
<div class="footer">
    <div class="contact-bar">
        <label></label>
        <a href="/contact"></a>
    </div>
    <div class="info-bar">

    </div>
</div>


</body>
</html>
