<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="application/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
    <script type="application/javascript" src="/javascripts/jquery-ui.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="application/javascript" src="/javascripts/common.js"></script>
    <script type="application/javascript" src="/javascripts/contact.js"></script>
    <link rel='stylesheet' href='/stylesheets/jquery-ui.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/contact.css' />

</head>
<body>
<div class="wrapper">
<div class="body-top"></div>
<div class="nav-bar">
    <div class="title">
        RE:SOURCES
    </div>
    <ul class="nav">
        <li><a href="/">
                Home

            </a></li>
        <li class="company nav-item">
            <a href="/company" target="_self">
                About Us
                <i class="arrow-down"></i>
            </a> </li>
        <li class="services nav-item">
            <a href="/services" target="_self">
                Services
                <i class="arrow-down"></i>
            </a></li>
        <li><a href="/contact" target="_self">
                Contact US
            </a></li>
    </ul>
</div>
<div class="main">
    <div class="photo-container">
        <p class="photo-label one">Contact Us</p>
        <p class="photo-label two">Feel free to contact us concerning any questions you may have.</p>
        <div id="scrollDown"></div>
        <div class="photo-slide contact">
            <div>

            </div>
        </div>


    </div>


    <div class="bold-line"></div>
    <div class="contact-page-main">
        <div class="wrapper">
            <div class="address-card">
                <p class="label title">Contact us</p>
                <p class="desc address">East Wing 15th Fl. Signature Towers, 100 Cheonggyecheon-ro, Jung-gu <br> Seoul City <br> 100-230</p>
                <p>Office : +822 6930 5512 </p>
                <p>Fax : +822 6928 1100 </p>
            </div>
            <div id="map-canvas"></div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="contact-bar">
        <div class="down-arrow"></div>
        <p>To inquire about our services, please contact us.</p>
        <a href="/contact" class="btn contact"> CONTACT</a>
    </div>
    <div class="info-bar">
        <div class="company-name"> RE:SOURCES KOREA </div>
        <div class="icon-wrapper">
            <a href="https://www.facebook.com/publicisgroupe">
                <img src="/images/main_bottom_facebook_dunkel.png"/>
            </a>
            <div class="pipe"></div>
            <a href="https://twitter.com/publicisgroupe">
                <img src="/images/main_bottom_twitter_dunkel.png"/>
            </a>
            <div class="pipe"></div>
            <!--
            <a><p>TERM</p></a>
            <div class="pipe"></div>
            -->
            <a href="http://www.publicisgroupe.com/"><p>Publicis Groupe</p></a>
        </div>
        <div class="btn top">
            <div class="arrow-top"></div>
        </div>

    </div>
</div>

<div class="nav-menu company">
    <ul>
        <li>
            <a href="/company?pageid=resources" target="_self">Re:Sources</a>
        </li>
        <li>
            <a href="/company?pageid=groupe" target="_self">Publicis Groupe</a>
        </li>
        <li>
            <a href="/company?pageid=ceo" target="_self">CEO Comment</a>
        </li>
        <li>
            <a href="/company?pageid=agency" target="_self">Agencies</a>
        </li>
    </ul>
</div>
<div class="nav-menu services">
    <ul>
        <li>
            <a href="/company?pageid=finance" target="_self">Finance</a>
        </li>
        <li>
            <a href="/company?pageid=accounting" target="_self">Accounting</a>
        </li>
        <li>
            <a href="/company?pageid=procurement" target="_self">Procurement</a>
        </li>
        <li>
            <a href="/company?pageid=tax" target="_self">Tax</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="/company?pageid=hr" target="_self">HR & Payroll</a>
        </li>
        <li>
            <a href="/company?pageid=legal" target="_self">Legal</a>
        </li>
        <li>
            <a href="/company?pageid=it" target="_self">IT Support</a>
        </li>
        <li></li>
    </ul>
</div>


<div class="menu-mask"></div>

</div>
</body>
</html>
