<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="application/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
    <script type="application/javascript" src="/javascripts/jquery-ui.min.js"></script>
      <script type="application/javascript" src="/javascripts/common.js"></script>
    <script type="application/javascript" src="/javascripts/main.js"></script>
      <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
      <link rel='stylesheet' href='/stylesheets/jquery-ui.min.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/animation.css' />

  </head>
  <body>
  <div class="wrapper">
      <div class="body-top"></div>
      <div class="nav-bar">
        <div class="title" id="title" >
            <a href="/" target="_self"> RE:SOURCES</a>
        </div>
        <div id="doodle">
            <audio preload="auto" id="soundClip">
                <source src="/audio/JingleBells.mp3" type="audio/mpeg">
            </audio>
        </div>
        <ul class="nav">
            <li><a href="/">
                    Home

                </a></li>
            <li class="company nav-item">
                <a href="/company" target="_self">
                    About Us
                    <i class="arrow-down"></i>
                </a> </li>
            <li class="services nav-item">
                <a href="/services" target="_self">
                    Services
                    <i class="arrow-down"></i>
                </a></li>
            <li><a href="/contact" target="_self">
                    Contact US
                </a></li>
        </ul>
      </div>
      <div class="main">
          <div class="photo-container">
            <div class="photo-slide one"></div>
            <div class="photo-slide two"></div>
            <div class="photo-slide three"></div>
            <div class="btn-more"></div>
          </div>
          <div class="bold-line"></div>
          <div class="carousel-container">
             <div class="carousel-slide one">
                 <div class="logo publicis"></div>
                 <section>
                     <p class="title">The Groupe</p>
                     <article>
                        <header></header>
                        <p class="desc">
                            3rd Largest Communications Group Worldwide,
                            Leader in Digital and Interactive Communication
                            With activities spanning 108 countries on five continents,
                            Publicis Groupe employs more than 63,000 professionals.
                            Publicis Groupe offers local and international clients
                            a complete range of communication services.
                        </p>
                     </article>
                 </section>
             </div>
             <div class="carousel-slide two">
                 <div class="logo resources-kr"></div>
                 <section>
                     <p class="title">Re:Sources</p>
                     <article>
                         <header></header>
                         <p class="desc">
                             The Shared Service Centers provide specialized fiscal services for internal clients (agencies), in order to:
                             <br>
                             - Verify the conformity of operations in connection with their activities
                             <br>
                             - Intervene in specific assignments during changes in the legal organization of the Groupe﻿
                         </p>
                     </article>
                 </section>
             </div>

          </div>
          <div class="carousel-indicator">
              <div class="btn-wrapper">
                  <div class="btn first on"></div>
                  <div class="btn second off"></div>
              </div>
          </div>
          <div class="panel-container">

              <ul class="panel-wrapper">
                        <li class="panel-title">Services</li>
                        <li>
                            <ul class="panel-list one">
                                <li class="grid_1 finance-pane"><p>Finance</p></li>
                                <li class="grid_2"><img src="/images/panel_image_01.png"/></li>
                                <li class="grid_1 accounting-pane"><p>Accounting</p></li>
                                <li class="grid_2"><img src="/images/panel_image_02.png"/></li>
                                <li class="grid_1 procurement-pane"><p>Procurement</p></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="panel-list two">
                                <li class="grid_2"><img src="/images/panel_image_03.png"/></li>
                                <li class="grid_1 legal-pane"><p>Legal</p></li>
                                <li class="grid_3"><img src="/images/panel_image_04.png"/></li>
                                <li class="grid_1 tax-pane"><p>Tax</p></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="panel-list three">
                                <li class="grid_1 hr-pane"><p>HR & Payroll</p></li>
                                <li class="grid_3"><img src="/images/panel_image_05.png"/></li>
                                <li class="grid_1 it-pane"><p>IT Support</p></li>
                                <li class="grid_2"><img src="/images/panel_image_06.png"/></li>
                            </ul>
                        </li>
              </ul>
          </div>
      </div>
      <div class="footer">
          <div class="contact-bar">
              <div class="down-arrow"></div>
              <p>To inquire about our services, please contact us.</p>
              <a href="/contact" class="btn contact"> CONTACT</a>
          </div>
          <div class="info-bar">
              <div class="company-name"> RE:SOURCES KOREA </div>
              <div class="icon-wrapper">
                  <a href="https://www.facebook.com/pages/ReSources-Korea/821066797935483" target="_blank">
                      <img src="/images/main_bottom_facebook_dunkel.png"/>
                  </a>
                  <div class="pipe"></div>
                  <a href="https://twitter.com/publicisgroupe">
                      <img src="/images/main_bottom_twitter_dunkel.png"/>
                  </a>
                  <div class="pipe"></div>
                  <!--
                  <a><p>TERM</p></a>
                  <div class="pipe"></div>
                  -->
                  <a href="http://www.publicisgroupe.com/"><p>Publicis Groupe</p></a>
              </div>
              <div class="btn top">
                  <div class="arrow-top"></div>
              </div>

          </div>
      </div>

      <div class="nav-menu company">
          <ul>
              <li>
                  <a href="/company?pageid=resources" target="_self">Re:Sources</a>
              </li>
              <li>
                  <a href="/company?pageid=publicis" target="_self">Publicis Groupe</a>
              </li>
              <li>
                  <a href="/company?pageid=ceo" target="_self">CEO Comment</a>
              </li>
              <li>
                  <a href="/company?pageid=agency" target="_self">Agencies</a>
              </li>
          </ul>
      </div>
      <div class="nav-menu services">
          <ul>
              <li>
                  <a href="/services?pageid=finance" target="_self">Finance</a>
              </li>
              <li>
                  <a href="/services?pageid=accounting" target="_self">Accounting</a>
              </li>
              <li>
                  <a href="/services?pageid=procurement" target="_self">Procurement</a>
              </li>
              <li>
                  <a href="/services?pageid=tax" target="_self">Tax</a>
              </li>
          </ul>
          <ul>
              <li>
                  <a href="/services?pageid=hr" target="_self">HR & Payroll</a>
              </li>
              <li>
                  <a href="/services?pageid=legal" target="_self">Legal</a>
              </li>
              <li>
                  <a href="/services?pageid=it" target="_self">IT Support</a>
              </li>
              <li></li>
          </ul>
      </div>

      <div class="panel mask"></div>


      <div class="popup">
          <div class="finance-pane pane">
              <div class="btn close"></div>
              <p class="title">Finance</p>
              <div class="desc">The Shared Service Centers Provide specialized fiscal services for internal clients(agencies), in order to:
                  <ul>
                      <li>Verify the conformity of operations in connection with their activities</li>
                      <li>Intervene in specific assignments during changes in the legal organization of the Groupe</li>
                  </ul>
              </div>
              <p class="title two">Treasury</p>
              <div class="desc">The Shared Services Centers assist agencies in implementing the Groupe’s Treasury policy, which results in:
                  <ul>
                      <li>Referenced banking partners</li>
                      <li>Implementation of payroll management and cash management tools for the whole Groupe</li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="popup">
          <div class="accounting-pane pane">
              <div class="btn close"></div>
              <p class="title">Accounting</p>
              <div class="desc">The Shared Services Centers offer services of general accounting, client accounts and supplier accounts, by country or by region.
                  They rely on common IT tools.
                  <br/><br/>
                  They contribute to the consolidation of human and technical competencies to:
                  <ul>
                      <li>Improve service quality</li>
                      <li>Secure handling of operations through standardized and documented processes</li>
                      <li>Strict application of Groupe procedures</li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="popup">
          <div class="procurement-pane pane">
              <div class="btn close"></div>
              <p class="title">Procurement</p>
              <div class="desc">The Shared Service Centers are the operational relays of implementation of
                  the Groupe's Purchasing policy. They allow agencies to focus on providing
                  the best day-to-day service to clients rather than spending time on negotiating and overseeing contracts.
                  For vendors, this system provides a single Groupe contact in each geographic zone and at a global level,
                  improving information exchange and enhancing their knowledge of the Groupe and our needs,
                  as well as simplifying the process to resolve any problems.
              </div>
          </div>
      </div>
      <div class="popup">
          <div class="legal-pane pane">
              <div class="btn close"></div>
              <p class="title">Legal</p>
              <div class="desc">The Shared Service Centers can advise agencies about corporate law,
                  law of intellectual property, commercial law and social law.
              </div>
          </div>
      </div>
      <div class="popup">
          <div class="tax-pane pane">
              <div class="btn close"></div>
              <p class="title">Tax</p>
              <div class="desc">The Shared Services Centers provide tax return and advice service to internal clients(agencies) as below.

                  <ul>
                      <li>Value added tax</li>
                      <li>Corporate tax</li>
                      <li>Individual income tax</li>
                      <li>Local tax</li>
                      <li>Property tax</li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="popup">
          <div class="hr-pane pane">
              <div class="btn close"></div>
              <p class="title">HR & Payroll</p>
              <div class="desc">The Shared Service Centers provide to agencies services related to administrative workforce management as:
                  <ul>
                      <li>Issuance of the pay slips </li>
                      <li>Preparation of social declarations </li>
                      <li>Management of social security coverage </li>
                      <li>Management of employment contracts </li>
                      <li>And assistance in relations with trade unions and representative bodies﻿ </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="popup">
          <div class="it-pane pane">
              <div class="btn close"></div>
              <p class="title">IT Support</p>
              <div class="desc">Resources IT will provide better service to the Agency in accordance with
              the Publicis Group IT operational policies and ensuring a high level of IT systems
              that can optimize their competitiveness. </div>
          </div>
      </div>


      <div class="menu-mask"></div>

  </div>
  </body>
</html>
