<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script type="application/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
    <script type="application/javascript" src="/javascripts/jquery-ui.min.js"></script>
    <script type="application/javascript" src="/javascripts/common.js"></script>
    <script type="application/javascript" src="/javascripts/services.js"></script>
    <link rel='stylesheet' href='/stylesheets/jquery-ui.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/services.css' />
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="wrapper">
<div class="body-top"></div>
<div class="nav-bar">
    <div class="title" id="title">
        <a href="/" target="_self"> RE:SOURCES</a>
    </div>
    <div id="doodle">
        <audio preload="auto" id="soundClip">
            <source src="/audio/JingleBells.mp3" type="audio/mpeg">
        </audio>
    </div>
    <ul class="nav">
        <li><a href="/">
                Home
            </a></li>
        <li class="company nav-item">
            <a href="/company" target="_self">
                About Us
                <i class="arrow-down"></i>
            </a> </li>
        <li class="services nav-item">
            <a href="/services" target="_self">
                Services
                <i class="arrow-down"></i>
            </a></li>
        <li><a href="/contact" target="_self">
                Contact US
            </a></li>
    </ul>
    <div class="btn top">
        <div class="arrow-top"></div>
    </div>
</div>
<div class="main">
    <div class="photo-container">
        <p class="photo-label one">Our Services</p>
        <p class="photo-label two"></p>
        <div id="scrollDown"></div>
        <div class="photo-slide services">
            <div>

            </div>
        </div>

    </div>
    <div class="bold-line"></div>
    <div class="service-page-main">
        <div class="wrapper">
            <ul class="icon-set">
                <li class="finance btn">
                    <i></i>
                    <p>Finance</p>
                </li>
                <li class="accounting btn">
                    <i></i>
                    <p>Accounting</p>
                </li>
                <li class="procurement btn">
                    <i></i>
                    <p>Procurement</p>
                </li>
                <li class="legal btn">
                    <i></i>
                    <p>Legal</p>
                </li>
                <li class="tax btn">
                    <i></i>
                    <p>Tax</p>
                </li>
                <li class="hr btn">
                    <i></i>
                    <p>HR & Payroll</p>
                </li>
                <li class="it btn">
                    <i></i>
                    <p>IT Support</p>
                </li>
            </ul>
            <div class="finance page">
                <div class="ribbon finance" id="finance">
                    <span>F</span>
                </div>
                <span class="title">Finance</span>
                <div class="article-paper">
                    <p>
                        Since our formation we have successfully implemented a new ERP system and brought a unified accounting procedure with higher level of efficiency and internal control to the group agencies.  We have helped merge agency operations, consolidated the treasury function to improve Trade Working Capital and leveraged Groupe banking partners to maximize investment.
                    </p>

                </div>
            </div>
            <div class="separator"></div>
            <div class="accounting page" id="accounting">
                <div class="ribbon accounting">
                    <span>A</span>
                </div>
                <span class="title">Accounting</span>
                <div class="article-paper">
                    <p>
                        We provide professional accounting and reporting services based on IFRS and Publicis Groupe Corporate Policies and Procedures. We manage external audits and internal reporting for all Publicis Groupe Subsidiaries in Korea through a common platform.
                    </p>
                </div>
            </div>
            <div class="separator"></div>
            <div class="procurement page" id="procurement">
                <div class="ribbon procurement">
                    <span>P</span>
                </div>
                <span class="title">Procurement</span>
                <div class="article-paper">
                    <p>Re:Sources are the operational relays of implementation of the Groupe's Purchasing policy. We allow agencies to focus on providing the best day-to-day service to clients rather than spending time on negotiating and overseeing contracts. For vendors, this system provides a single Groupe contact in each geographic zone and at a global level, improving information exchange and enhancing their knowledge of the Groupe and our needs, as well as simplifying the process to resolve any problems.</p>

                </div>
            </div>
            <div class="separator"></div>
            <div class="legal page" id="legal">
                <div class="ribbon legal">
                    <span>L</span>
                </div>
                <span class="title">Legal</span>
                <div class="article-paper">
                    <p>
                        We have responsibility for overseeing and reporting potential legal issues of our agencies. We have recently implemented legal management system which tracks and reports on the status of legal compliance to Head Office. Re:Sources can advise agencies on various regulations including corporate law, commercial law, law of intellectual property, tax and social law.
                    </p>
                </div>
            </div>
            <div class="separator"></div>
            <div class="tax page" id="tax">
                <div class="ribbon tax">
                    <span>T</span>
                </div>
                <span class="title">Tax</span>
                <div class="article-paper">
                    <p>
                        We take a professional and risk free approach in terms of tax in order to meet local tax compliance and manage our agencies’ tax fillings including VAT, corporate tax and all other local taxes.
                    </p>

                </div>
            </div>
            <div class="separator"></div>
            <div class="hr page" id="hr">
                <div class="ribbon hr">
                    <span>H</span>
                </div>
                <span class="title">HR & Payroll</span>
                <div class="article-paper">
                    <p>
                        We provide various workforce management services including payroll and social charge filing and payment. We implemented a global HR system which manages talent and staff compensation for all our agencies.
                    </p>

                </div>
        </div>
        <div class="separator"></div>
            <div class="it page" id="it">
                <div class="ribbon it">
                    <span>I</span>
                </div>
                <span class="title">IT Support</span>
                <div class="article-paper">
                    <p>
                        Resources IT provides services to our partnering agencies in accordance with the Publicis Group IT operational policies through an agreed SLA. We facilitate the annual IT budget for the market and ensure that state of the art equipment and service is provided throughout the year in order for our agencies to optimize efficiency and competitiveness and ultimately provide better service to clients.
                    </p>

                    <p>
                        Re:Sources are operational relays of the IT policy of the Groupe, which includes mainly:
                    </p>
                    <ul>
                        <li>High-quality unified infrastructure, a common messaging system with instant messaging capabilities, a long-term data storage system, and daily assistance </li>
                        <li>Consolidation and virtualization of application servers in 3 regional data centers</li>
                        <li>Rationalizing and standardizing of applications</li>
                    </ul>
                    <p>
                        All of these initiatives rely on the latest and most appropriate tools for agency activities. They allow them to generate substantial savings and minimize risks.
                    </p>
                    <div class="clipart">
                        <img src="/images/services_it_clip_01.png"/>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>
<div class="footer">
    <div class="contact-bar">
        <div class="down-arrow"></div>
        <p>To inquire about our services, please contact us.</p>
        <a href="/contact" class="btn contact"> CONTACT</a>
    </div>
    <div class="info-bar">
        <div class="company-name"> RE:SOURCES KOREA </div>
        <div class="icon-wrapper">
            <a href="https://www.facebook.com/pages/ReSources-Korea/821066797935483" target="_blank">
                <img src="/images/main_bottom_facebook_dunkel.png"/>
            </a>
            <div class="pipe"></div>
            <a href="https://twitter.com/publicisgroupe">
                <img src="/images/main_bottom_twitter_dunkel.png"/>
            </a>
            <div class="pipe"></div>
            <!--
            <a><p>TERM</p></a>
            <div class="pipe"></div>
            -->
            <a href="http://www.publicisgroupe.com/"><p>Publicis Groupe</p></a>
        </div>
        <div class="btn top">
            <div class="arrow-top"></div>
        </div>

    </div>
</div>

<div class="nav-menu company">
    <ul>
        <li>
            <a href="/company?pageid=resources" target="_self">Re:Sources</a>
        </li>
        <li>
            <a href="/company?pageid=publicis" target="_self">Publicis Groupe</a>
        </li>
        <li>
            <a href="/company?pageid=ceo" target="_self">CEO Greeting</a>
        </li>
        <li>
            <a href="/company?pageid=agency" target="_self">Agencies</a>
        </li>
    </ul>
</div>
<div class="nav-menu services">
    <ul>
        <li>
            <a href="/services?pageid=finance" target="_self">Finance</a>
        </li>
        <li>
            <a href="/services?pageid=accounting" target="_self">Accounting</a>
        </li>
        <li>
            <a href="/services?pageid=procurement" target="_self">Procurement</a>
        </li>
        <li>
            <a href="/services?pageid=tax" target="_self">Tax</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="/services?pageid=hr" target="_self">HR & Payroll</a>
        </li>
        <li>
            <a href="/services?pageid=legal" target="_self">Legal</a>
        </li>
        <li>
            <a href="/services?pageid=it" target="_self">IT Support</a>
        </li>
        <li></li>
    </ul>
</div>


<div class="menu-mask"></div>

</div>
</body>
</html>
