@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url(@body-pattern);
}

/*colors*/
@dark-gray: #151515;
@light-gray: #f2f1f1;
@gray: #999999;
@orange: #f18914;
@footer-backcolor:#636363;
@nav-active-color:#e42420;
@nav-normal-color:white;

@finance-color:#38bcdf;
@accounting-color:#B1CC4A;
@procurement-color:#FFAB27;
@legal-color:#865C38;
@tax-color:#D84319;
@hr-color:#5F79BB;
@it-color:#B42375;


/*images*/
@body-pattern:"/images/footer_lodyas.png";
@slide-one:"/images/main_top_building.jpg";
@slide-two:"/images/main_photo_02.jpg";
@slide-three:"/images/main_photo_03.jpg";
@publicis-logo:"/images/main_publicis_logo.png";

/**/
@site-width:1440px;
@pc-width:1025px;

/* Desktop Device */
@media all and (min-width:@pc-width) {
  .wrapper {
    width: @site-width;
  }
  .nav-bar {
//    width: @site-width !important;
  }
}

@media all and (min-width:900px) and (max-width:1024px) {
  .wrapper {
    width: 1024px;
  }
  .main .photo-container .photo-slide{
    background-position-y:361px !important;
  }
  .main .photo-container .photo-slide.services{
    background-position-y:0px !important;
  }
  .main .carousel-container{
    width:1024px !important;
  }
  .footer .info-bar .company-name{
    font-size: 20px !important;
    margin: 0 100px 0 170px !important;
  }
  .company-page-main .wrapper, .service-page-main .wrapper, .contact-page-main .wrapper{
    width:800px !important;
  }
  .company-page-main .wrapper .page.ceo img{
    width:400px;
  }
  .company-page-main .wrapper .page.ceo{
    width:800px !important;
  }
  #map-canvas{
    left:100px !important;
  }
  .contact-page-main{
    height:800px !important;
  }
  .main .panel-container{
    height:850px !important;
  }
  .main .panel-container .panel-wrapper{
    height: 965px !important;
    width:830px !important;
  }
  .main .panel-container .panel-wrapper .panel-list .grid_3 img{
    width:360px !important;
  }
  .main .panel-container .panel-wrapper .panel-list .grid_3{
    width:360px !important;
  }
  .panel-list.two .grid_2:first-child{
    width:180px !important;
    overflow: hidden;
  }
  .panel-list.three .grid_2:last-child{
    visibility: hidden;
  }
}


a {
  color:@nav-normal-color;
  text-decoration: none;
  &:link, &:visited{
    color:@nav-normal-color;
    text-decoration: none;
  }
  &:active ,&:hover{
    color:@nav-active-color;
    text-decoration: none;
  }
}

body,ul,div,p {
  list-style: none;
  margin:0px;
  padding:0px;
}

.wrapper{
  margin:auto;
  background-color: white;
}

.body-top{
  height:70px;
}

/*top*/
.nav-bar{
  position:fixed;
  top:0px;
  height:70px;
  width:100%;
  margin:auto;
  background-color:@dark-gray;
  color:white;
  z-index:100;

  .title{
    padding-left: 3em;
    padding-top: 1em;
    float: left;
    font-size: 22px;
    a:hover, a:active{
      color:#ffffff;
    }
    &:after{
      color:@nav-active-color;
      content:"KOREA";
      background-color: @dark-gray;
      font-weight: bold;
    }
  }
  .nav{
    float:right;
    padding-right: 8em;
    padding-top: 2em;
    li{
      &:first-child{
        width:80px;
      }
      float:left;
//      padding-right:2em;
      height: 40px;
      width: 100px;
      a i.arrow-down{
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-color: @nav-normal-color transparent transparent transparent ;
          border-width: 6px 6px 6px 6px;
          margin: 0px 0 -5px 0;
        }
      a:hover > i.arrow-down{
        border-color: @nav-active-color transparent transparent transparent !important;
      }
    }
  }
  .btn.top{
    position: absolute;
    right: 100px;
    top: 25px;
  }
}

/*메뉴 판*/
.nav-menu{
  background-color: @dark-gray;
  position:fixed;
  top:70px;
  display: none;
  z-index:100;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
//  border-left: 1px solid gray;
//  border-right: 1px solid gray;
//  border-bottom: 1px solid gray;
  &.company{
    right: 280px;
    width: 150px;
    height: 160px;
  }
  &.services{
    right: 100px;
    width: 299px;
    height: 160px;
    ul:last-child{
      margin-left:-1px;
    }
  }
  ul{
    float: left;
  }
  li{
    cursor: pointer;
    width: 150px;
    height: 40px;
    position: relative;
    border-left:1px solid rgb(70, 70, 70);
    border-right:1px solid rgb(70, 70, 70);
    border-bottom:1px solid rgb(70, 70, 70);
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    line-height: 40px;
  }
}

/*middle메인 컨텐츠영역*/
.main{
  .photo-container{ /*탑 사진 슬라이드*/
    height:360px;
    position:relative;
    .photo-slide{
      height:360px;
      position: absolute;
      width:100%;
      background-size:cover;
      background-position-y: 400px;
      &.one{
        background-image: url(@slide-one);
      }
      &.two{
        opacity: 0;
        background-image: url(@slide-two);
      }
      &.three{
        opacity: 0;
        background-image: url(@slide-three);
      }
    }
  }

  .bold-line{ /*구분선*/
    height:28px;
    z-index:5;
    background-color: @orange;
  }

}

/*footer*/
.footer{
  position:relative;

  .contact-bar{
    height:70px;
    background-color:@gray;
    text-align: center;
    .down-arrow{
      width: 0;
      height: 0;
      border-style: solid;
      border-color: white transparent transparent transparent;
      border-width: 8px 8px 8px 8px;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
    }
    p{
      display: inline-block;
      text-align: center;
      font-size: 18px;
      color: white;
      margin: 25px 15px 0 0;
    }
    .btn.contact{
      display: inline-block;
      background-color: #e84b18;
      border-radius: 9px;
      width: 120px;
      height: 45px;
      position: relative;
      font-weight: bold;
      text-align: center;
      line-height: 45px;
      &:hover{
        opacity: 0.9;
      }
      &:hover,&:active,&:link, &:visited{
        color:white;
      }
    }
  }
  .info-bar{
    height:75px;
    background-color:@footer-backcolor;
    div{
      color :rgb(214, 214, 214);
      display: inline-block;
    }
    .company-name{
      font-size:30px;
      margin: 0 500px 0 170px;
    }
    .icon-wrapper{
      position: relative;
      top: 5px;
      a, div, p{
        color: #CFCFCF;
        margin:5px;
        display: inline-block;
      }
      p {
        position: relative;
        top: -14px;
        &:hover{
          opacity: 0.7;
        }
        &:active{
          opacity: 0.9;
        }
      }
      a img{
        top: 5px;
        position: relative;
        &:hover{
          opacity: 0.7;
        }
        &:active{
          opacity: 0.9;
        }
      }


    }
    .btn.top{
      position: relative;
      top: -10px;


    }
  }
}

.btn.top{
  position: relative;
  top: -10px;
  cursor: pointer;
  width:27px;
  height:27px;
  margin-left: 30px;
  background-color: #000000;
  border-radius: 5px;
  .arrow-top{
    width: 8px;
    height: 8px;
    border-left: 3px solid white;
    border-top: 3px solid #ffffff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    top: 8px;
    left: 8px;
  }
  &:hover{
    opacity: 0.7;
  }
  &:active{
    opacity: 0.9;
  }
}
.anchor{
  visibility: hidden;
  position: absolute;
  top:0;
  left:0;
}

.mask{
  background-color: #000000;
  opacity: 0.22;
  position: fixed;
  width:2000px;
  height:2000px;
  z-index:500;
  display: none;
  top:0px;
  left:0px;
}



.pipe{
  border-left: 1px solid #CFCFCF;
  height:30px;
  width:1px;
}

.menu-mask {
  display: none;
  position: fixed;
  width: 400px;
  height: 260px;
  right: 70px;

  z-index: 90;
  background-color: transparent;
  top: 0px;

}

.photo-label{
  display: block;
  position: absolute;
  z-index:1;
  width: 100%;
  text-align: center;
  color: white;
}

@keyframes fadedown{
  from{ opacity: 1; top:270px}
  to{ opacity: 0; top:300px}
}
@-webkit-keyframes fadedown{
  from{ opacity: 1; top:270px}
  to{ opacity: 0; top:300px}
}
@-ms-keyframes fadedown{
  from{ opacity: 1; top:270px}
  to{ opacity: 0; top:300px}
}
@-moz-keyframes fadedown{
  from{ opacity: 1; top:270px}
  to{ opacity: 0; top:300px}
}

@doodle:"/images/doodle.png";
#doodle{
  position: fixed;
  width: 300px;
  height: 56px;
  background: url(@doodle) no-repeat;
  background-size: contain;
  top: 8px;
  margin-left:100px;
  display: none;
  cursor: pointer;
}

a img{
  border: 0;
}